# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VSCode files
.vscode/

# Environment files
.env
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db
desktop.ini
